* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 40px;
    margin: auto;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#sect {
    padding: 50px 0px;

    .mains {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .save{
            color: #000;
            background-color: aquamarine;
            padding: 5px;
            border-radius: 5px;
        }
        a{
            text-decoration: none;
            color: #000;
            background-color: aquamarine;
            padding: 5px;
            border-radius: 5px;
        }
        .file{
            padding: 5px 30px;
        }
    }
}
body{
    background-color: rgb(193, 211, 205);
}